[2018-04-04 18:22] wkz opened #1 "time labels below plot"
First of all: thank you for this very powerful visualization!

One thing that was counter-intuitive to me was that each seconds progresses bottom->top. Since the time labels are above the plot, my brain parses the upper left corner as the origin.

I think that moving the time labels to below the plot might provide the right visual cue to move the origin to the bottom left corner.

[2018-04-04 18:39] spiermar opened #2 ""save as SVG" button"

[2018-04-04 18:40] spiermar opened #3 "search sum on flame graph"

[2018-04-04 18:41] spiermar opened #4 ""enhanced", higher contrast color palette on heatmap"

[2018-04-04 18:53] brendangregg commented on #4
It would be great to have an "Enhance" button that switched to a palette like this, based on count:

- 0: white
- 1-2: shades of blue (light->dark).
- 3-max: a red scale (pink->red?)

The aim is to highlight single-threaded activity, which will either have a count of 1 (eg, 49 Hertz sampling on a 50 row heatmap) or 2 (99 Hertz sampling on a 50 row heatmap). Hence making 1 & 2 blue, and the rest sh

[2018-04-04 19:15] richardartoul opened #5 "Ability to view Golang graphs"
This tool looks really awesome and I'd like to try it out on some profiles taken from our production services, but the tool seems to be having trouble with profiles generated using the `go tool pprof` command.

Has anyone tried or gotten this to work with Golang profiles yet?

Here's the stacktrace I'm getting:

[code]

EDIT: Ah ok it looks like this tool is designed to handle the linux perf outpu

[2018-04-04 19:25] #5 closed

[2018-04-04 20:35] atx opened #7 "The application lacks protection against CSRF"
The application lacks any sort of protection against CSRF (let alone DNS rebinding).

As some, uhhh, creative development time saving techniques are [used](https://github.com/Netflix/flamescope/blob/master/app/util/stack.py#L163), an attacker can execute arbitrary shell commands on the computer running this software by redirecting the users browser to something like:

[code]

[2018-04-04 23:56] brendangregg opened #8 "icicle layout"
There could be a button on the flame graph view to switch it to icicle layout. This could be sticky, and/or configured via a settings page, so it always did it this way. I'm not sure what to call the button: I guess the two layout orderings are "flame" and "icicle". (Note that there's also a different layout type, sunburst, which we could also switch to, but that's changing the type of visualizati

[2018-04-05 01:42] grooverdan opened #9 "OverflowError: cannot convert float infinity to integer"
Ended up being caused by an empty file:
</pre>
-rw-rw-r-- 1 dan  dan          0 Apr  4 20:30 stacks.mysql-64-oltp_read_only_1.2018-04-04 20:30:08-05:00
</pre>

<pre>
Traceback (most recent call last):
  File "/home/dan/pyenv/lib/python2.7/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "/home/dan/pyenv/lib/python2.7/site-packages/flask/a

[2018-04-05 02:06] grooverdan commented on #9
Header only files cause the same backtrace:
<pre>
-rw-rw-r-- 1 dan  dan      1384 Apr  4 21:01 stacks.mysql-prep.2018-04-04 21:01:35-05:00
-rw-rw-r-- 1 dan  dan      1384 Apr  4 21:01 stacks.mysql-prep.2018-04-04 21:01:58-05:00
</pre>

[2018-04-05 02:15] grooverdan opened #10 "ERROR: Bad range, 622353.26 -> 622351.26."
Wondering if this could be less fatal. I'm assuming out of order or missed perf record elements.

Got no output in browser with this error log:
<pre>
9.192.254.114 - - [04/Apr/2018 20:52:53] "GET /stack?filename=stacks.mysql-prep.2018-04-04%2020:49:33-05:00&start=18.26&end=16.26 HTTP/1.1" 301 -
ERROR: Bad range, 622353.26 -> 622351.26.
</pre>

Decent file size:
<pre>
31235407 Apr  4 20:49 stacks.m

[2018-04-05 05:27] brendangregg commented on #10
I think "--debug-mode" is only supposed to do checks, hence no output. Yes, it should give better error messages though.

As for the original issue: 622353.26 -> 622351.26 is a backwards range. Maybe a UI bug? Did you click a range in reverse?

[2018-04-05 05:28] brendangregg commented on #9
Yes, the UI should say "empty file" or something, instead of crashing. Needs to be fixed.

[2018-04-05 05:48] grooverdan commented on #10
Yep, clicking future and then backwards in time. Sorry so obvious. Great tool btw. Despite the bug reports I'm have fun with it.

[2018-04-05 10:46] blakedot opened #13 "This is really helpful, thanks for releasing it"
n/t

[2018-04-05 10:46] #13 closed

[2018-04-05 12:45] Be-ngt-oH commented on #10
Hi,

I've submitted a PR(#14) that addresses this.

Kind regards

[2018-04-05 13:13] PetterS opened #15 "Drag and drop to select range"
I think drag and drop to select range would feel more natural than clicking first start, then end.

At least that was the first thing I tried, even after looking at the image in the readme.

[2018-04-05 13:23] PetterS opened #16 "UnboundLocalError when the file is invalid"
Stack trace when trying to open an invalid file:

    ERROR: Can't read stack file examples/perf.data.
    127.0.0.1 - - [05/Apr/2018 15:21:29] "GET /heatmap/?filename=perf.data&rows=50 HTTP/1.1" 500 -
    Traceback (most recent call last):
      File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1997, in __call__
        return self.wsgi_app(environ, start_response)
      File "/usr

[2018-04-05 23:08] brendangregg commented on #7
Thanks @atx! I've fixed the filename escapes. We still need to look at the CSRF and DNS rebinding.

[2018-04-06 02:36] spiermar commented on #9
@brendangregg can you check this example file? I'll also add a another issue to track general file error handling.

[2018-04-06 02:38] spiermar opened #18 "better error handling around file loading exceptions"

[2018-04-06 02:40] spiermar commented on #16
@PetterS is this a file that should be read, but isn't? Or a more generic error handling issue? If it's the latter, I just opened another issue to track this.

[2018-04-06 02:43] spiermar commented on #10
I'll block backwards select in the UI for now, and review https://github.com/Netflix/flamescope/pull/14 separately.

[2018-04-06 02:45] spiermar commented on #15
I believe this is a personal preference, but open to add it as an option. Open to PRs.

[2018-04-06 02:46] spiermar commented on #16
https://github.com/Netflix/flamescope/issues/18 is the issue.

[2018-04-06 12:11] PetterS commented on #16
Yes, the file is really invalid.

[2018-04-06 12:11] #16 closed

[2018-04-06 21:53] #10 closed

[2018-04-06 21:55] spiermar commented on #7
@brendangregg recent PR merge might have fixed a few of those issues.

[2018-04-06 23:16] grooverdan commented on #10
thank you.

[2018-04-08 14:54] ceeaspb opened #23 "metric other than sample count"
Thanks, great tool.

It would be interesting to have the heat map present other metrics than cpu sample count.

For example throughput and especially some latency statistic (eg median, 99th etc).

The data would come from elsewhere so would need to follow some predefined format, at the right interval.

Expect It likely not be possible to collect this kind of data from production systems. Test/ Ben

[2018-04-08 17:55] cfregly opened #24 "Add a note about starting flamescope on host = '0.0.0.0"

[2018-04-08 18:10] ceeaspb opened #25 "overlapping count labels on short record"
minor ui issue with duration of around 10 seconds

<img width="122" alt="screen shot 2018-04-08 at 19 09 13" src="https://user-images.githubusercontent.com/7397675/38470830-63daee02-3b60-11e8-830a-e580c5736fba.png">

[2018-04-09 08:57] ionakathryn opened #27 "Could not find a version that satisfies the requirement click==6.7 (from -r requirements.txt (line 1))"
When running `pip install -r requirements.txt` then I get the below error message:

`Could not find a version that satisfies the requirement click==6.7 (from -r requirements.txt (line 1)) (from versions: )
No matching distribution found for click==6.7 (from -r requirements.txt (line 1))`
I am using Python 3.6.5. Also, when I then try to run `python run.py` then I get a error saying:
`ImportError:

[2018-04-09 18:05] spiermar commented on #23
Thanks for the suggestion @ceeaspb ! We already did it with a few other metrics internally and might be able to share something in the future.
In cases like that, what worked for us is adding a `tools` directory in the repo, with scripts to collect the data and format it in a way FlameScope can understand. If you have something specific in mind, we're open to PRs.

[2018-04-09 18:07] spiermar commented on #24
Thanks for the suggestion @cfregly

[2018-04-09 22:45] bobrik opened #29 "Animated flamegraphs"
I read the blog post and found it very relatable:

* https://medium.com/netflix-techblog/netflix-flamescope-a57ca19d47bb

It would be awesome to have animated mode where one could select a range and then replay either step by step or at some reasonable rate (say 20ms per frame, 10 fps).

Flamegraph "bricks" would then shrink and expand with each "frame". This is effectively watching individual fla

[2018-04-09 22:57] bobrik opened #30 "Multiple heatmap modes"
Currently there seem to be the only mode with seconds on X axis and 20ms buckets on the Y axis.

I'd like to suggest a mode with threads on the Y axis and smaller buckets on the X axis.

My real world usage is [ClickHouse](https://github.com/yandex/ClickHouse). We have loads of data in our instances and they take quite a bit of time to both start up and tear down. During that time we can observe o

[2018-04-10 09:05] rogerwelin commented on #9
Im getting the same error, perf file was generated using https://github.com/jvm-profiling-tools/async-profiler and the cmd I used was: ./profiler.sh -d 30 -o collapsed -f /tmp/traces.txt 30497

the file is not empty (~10mb)

[2018-04-10 11:24] ceeaspb commented on #4
We also get feint colors; I wanted to explore the single color.

<img width="411" alt="screen shot 2018-04-09 at 18 26 05" src="https://user-images.githubusercontent.com/7397675/38512693-d33c3cc4-3c23-11e8-9f14-66f716382e31.png">

<img width="408" alt="screen shot 2018-04-09 at 18 26 49" src="https://user-images.githubusercontent.com/7397675/38512704-dd64941c-3c23-11e8-85d4-d83e8f28fba3.png">

<im

[2018-04-10 19:30] brendangregg commented on #30
There's a huge benefit at fitting all the data on one screen. We have apps with 1000 threads, and 10,000 threads, and that many rows won't fit. I'd consider such a heat map if it showed "top 100 threads" only for a 100 row heat map -- the current row selector can be used to select how many should be included in the top. The "top" threads will be based on those that have the highest total counts.

[2018-04-10 19:31] brendangregg commented on #29
Makes sense. We have the data to do that. We could have "step forward" and "step backwards" buttons. Imagine selecting one second, then being able to step forward by one second at a time.

[2018-04-10 19:33] brendangregg commented on #15
It might be possible to support both (still not sure we want to, but..). So if you click and release a block without exiting it (no mouse-out events), then it's the normal style. If you click and then mouse-out before the release, it's the drag style. Only catch is that you couldn't click and drag one block -- that would require a double click.

[2018-04-10 22:47] spiermar commented on #29
The D3 plugin already supports that and I probably have a script to parse the profiles that way. See http://martinspier.io/d3-flame-graph/live.html

[2018-04-10 22:50] spiermar commented on #30
Agree with @brendangregg. I see this as a secondary view, that could be triggered by a UI option. This would be specially useful for some mobile OSs where the main thread has a completely different behavior than other threads.

[2018-04-11 17:28] ceeaspb opened #35 "sort FileList"
I expect the FileList page isn't meant for very long list of files but to make it easier to find a new result in medium to long file lists sorting is a quick thing to put in.
Added it to our automated benchmarking on Sunday and the list is growing. future enhancement could be pagination, reverse sort (so latest result comes up first), etc

[2018-04-11 18:28] #35 closed

[2018-04-11 19:17] ceeaspb commented on #9
@rogerwelin async-profiler with `-o collapsed` aggregates all the samples into counts per stack trace. flamescope needs each individual sample with a timestamp so it can generate the heatmap over time and flamegraph for a certain time range. I have opened a new feature request in async-profiler for this.

[2018-04-11 20:34] spiermar commented on #4
@brendangregg assuming this is closed.

[2018-04-11 20:34] #4 closed

[2018-04-11 20:36] spiermar opened #37 "remove unnecessary semantic ui css override files"

[2018-04-11 21:16] spiermar commented on #27
Can't reproduce the issue here.

[code]

Can you try installing it on a clean [virtualenv](https://virtualenv.pypa.io/en/stable/)?

[2018-04-11 21:26] spiermar commented on #9
@grooverdan File handling improvements will be tracked on https://github.com/Netflix/flamescope/issues/18

@rogerwelin @smarter these seem to be invalid files. Let me know if otherwise and I'll reopen the issue.

@ceeaspb Thanks for the help on this!

[2018-04-11 21:27] #9 closed

[2018-04-11 21:27] spiermar commented on #7
Assuming this was fixed. Closing.

[2018-04-11 21:27] #7 closed

[2018-04-11 23:36] spiermar commented on #25
@ceeaspb assuming there are 5 ticks in the label, 0, 50, 100, 150, 200 and 250, correct?

[2018-04-12 00:05] #25 closed

[2018-04-12 00:05] spiermar commented on #25
Can you try with master @ceeaspb?

[2018-04-12 00:49] spiermar commented on #37
Done on 7cef7b1916dee31a6ea967581855ba3472eb8ea8

[2018-04-12 00:49] #37 closed

[2018-04-12 00:50] spiermar commented on #25
Just tested with a short profile, still needs a few more tweaks.

[2018-04-12 01:00] spiermar commented on #25
Latest should be better.

[2018-04-12 09:23] ceeaspb opened #38 "gitignore app/ files"
[code]

should this be in .gitignore?

[2018-04-12 09:45] ceeaspb commented on #25
@spiermar looks great thanks!

[2018-04-12 11:01] ceeaspb opened #39 "Option to toggle flamegraph to threaded view"
We often need to review individual threads for load balancing, utilisation, etc.
Being able to toggle between the 2 views would be very useful.
It would need source data in the `perf script` output according to `stackcollapse-perf.pl`.

[code]

[2018-04-12 14:02] brendangregg commented on #3
This should behave like the cumulative sum shown on the bottom right of  https://github.com/brendangregg/FlameGraph, which excludes vertical overlap.

[2018-04-12 14:06] brendangregg commented on #4
@ceeaspb that's a pretty interesting profile. How does it look with the new "Enhance Colors" button? Maybe so interesting it deserves a blog post. :)

[2018-04-12 17:26] #38 closed

[2018-04-12 17:27] spiermar commented on #27
@ionakathryn assuming this is no longer an issue. Closing.

[2018-04-12 17:27] #27 closed

[2018-04-13 15:58] brendangregg opened #41 "pixelate count legend"
<img width="621" alt="screen shot 2018-04-13 at 8 58 40 am" src="https://user-images.githubusercontent.com/1101211/38745144-95778380-3ef8-11e8-86b2-99f84badc39b.png">

The current count scale implies many colors you won't actually see, due to the gradient fill. This example heat map (with "enhance") only has 8 colors. Does it make sense to turn the gradient fill into rectangles for each possible c

[2018-04-13 16:30] nhick opened #42 "Enable Settings view for UI controls"
With more requests coming through for enhanced controls (#39 , #2 , #30 , ...), we should look at enabling the settings view or some other UI component and push some/all of the UI controls there that modify the view.

[2018-04-13 22:27] spiermar commented on #42
I have a commented out modal window in the heatmap view. A simple button on top that opens a modal with the UI options for that view. Is that what you have in mind @nhick ?

[2018-04-13 22:35] nhick commented on #42
Yes, that's perfect @spiermar .
Created the issue to pr against and use it to discuss what to move into the settings view and what to leave out.

[2018-04-13 22:45] spiermar commented on #42
Ok, so I made that assuming that one day we would have more options. The drawback of this solution is that it requires two user actions to get something done, opening the modal and then changing what's required, which can be a pain if you switch things a lot. Right now, I don't think we have too many options in the toolbar, that would cause issues for users, so my suggestion would be to keep it th

[2018-04-14 06:19] PawanWagh opened #43 "Flamescope dashboard not available"
I had followed all steps as stated in README. Still not able to view dashboard.
Please find the screenshots below:
![screen shot 2018-04-14 at 11 32 46 am](https://user-images.githubusercontent.com/20369259/38765053-2ecb6774-3fd8-11e8-9e6b-58d372577a5d.png)
Here of dashboard:
![imageedit_2_7523124955](https://user-images.githubusercontent.com/20369259/38765131-a54f0116-3fd9-11e8-82d2-027147814fd8.

[2018-04-16 09:12] thatsafunnyname opened #44 "Remove invalid chars from the stack file in medium.com blog (was - README example)."
Hello and thanks for flamescope,
  In https://medium.com/netflix-techblog/netflix-flamescope-a57ca19d47bb and https://github.com/Netflix/flamescope/blob/master/README.md#installation--instructions the example filename used is `stacks.myproductionapp.2018-03-30_01` , (UPDATE - the first dash on the medium site is a non ASCII char), as of https://github.com/Netflix/flamescope/commit/cbd13e187d913cc5

[2018-04-16 11:26] thatsafunnyname commented on #44
Just wanted to point out that I think the reason the invalidchar regexp is failing is because the dash/hyphen `"-"` is a unicode codepoint while the regexp is not.  If I prefix the regexp char group with a `u` then the dash/hyphen is allowed:

[code]

[2018-04-16 16:58] spiermar commented on #43
The error is pretty clear, your browser can't connect to the server, but there are several possible explanations. Here are a few troubleshooting steps:

1. Can you curl to localhost on port 5000?
2. You mentioned whitelisted? Whitelisted where? iptables? Security group?
3. You are listening on 127.0.0.1 too, which is likely not your external interface. Can you try switching that to 0.0.0.0? Or you

[2018-04-16 17:06] spiermar commented on #44
So from your point of view, the issue is Medium containing unicode characters? Or that the tool should support unicode?

[2018-04-16 17:28] spiermar commented on #44
This https://github.com/Netflix/flamescope/issues/18 issue is being used to track the exception handling part.

[2018-04-16 17:35] thatsafunnyname commented on #44
The issue for me was the blog post on medium containing a non ASCII dash in the filename.  If an error had been printed about an invalid filename then I would have tried a different (ASCII) filename earlier.
  I don't use unicode (deliberately) for filenames, so support for it is not an issue for me.

[2018-04-16 19:53] spiermar commented on #42
Yes, I agree.

[2018-04-16 19:53] #42 closed

[2018-04-16 21:25] nhick commented on #41
Should this be implemented as part of flamescope? Currently this capability does not exist in the heatmap implementation [heatmap2-d3](https://github.com/spiermar/d3-heatmap2/blob/6658a7ab36e88d07b4c329eb18d4b7a2df6b70a5/src/heatmap.js#L283). I'd opt to implement it there, possibly a `heatmap().quantizeLegend()` method, and then enable it here. Does that approach make sense?

[2018-04-16 23:04] brendangregg opened #45 "Sunburst layout toggle"
Similar to #8, this would be an option to draw the flamegraphs in the sunburst layout (radial coordinates).

First use of it I think came from here by @paulirish: https://bugs.chromium.org/p/chromium/issues/detail?id=452624

I've also written about the layout here: http://www.brendangregg.com/blog/2017-02-06/flamegraphs-vs-treemaps-vs-sunburst.html

We can have it as a mode. This is why I wanted f

[2018-04-17 20:33] nhick commented on #45
Found this recent implementation that might help getting started: https://bl.ocks.org/kerryrodden/7090426
Happy to give it a go later this week unless someone beats me to it.

[2018-04-17 21:12] paulirish commented on #45
TBH, I'm much less fond of the sunburst than I used to be.

The general challenge with flamegraphs is focusing their user's attention on the wide&flat parts and ignoring spiky flames. I feel like the sunburst draws attention to the spikes even more than the typical flamegraph layout.

Of course it could always be interesting to toggle to sunburst, but I wouldn't necessarily encourage it these days

[2018-04-18 16:28] brendangregg commented on #44
Fixed. Changed to underscores (Medium would not let me insert a dash there.)

[2018-04-18 16:28] #44 closed

[2018-04-18 22:01] brendangregg commented on #43
I'm guessing you're running flamescope on a remote instance. In which case 127.0.0.1 won't work: you'll need the IP address of that instance. Maybe we should update the startup messages of flamescope to list the remote IP address.

[2018-04-18 22:08] spiermar commented on #43
@PawanWagh assuming the issue was fixed. Closing.

[2018-04-18 22:08] #43 closed

[2018-05-03 10:58] drandynisbet opened #48 "General issue with (perf) for flamescope using [Hardware cache event] counters"
Hi,
Im trying to use flamescope on L1-dcache-load-misses, I use
sudo  node --perf-basic-prof dist/cli.js &
sudo  perf record -e L1-dcache-load-misses -g -c 100000  -p `pgrep -n node`
sudo perf script --header > <flamescope>/examples/node.example.benchmark

Perf script is only producing the header output, I have not checked for which counter event types this happen.

I can do perf report and I can

[2018-05-03 16:34] drandynisbet commented on #48
perf script --header -F comm,pid,tid,time,event,ip,sym,dso >  ../examples/node.example.benchmark

Doh ... should read the man page better ...

[2018-05-03 16:35] #48 closed

[2018-05-03 17:09] brendangregg commented on #48
Just curious: you think L1-dcache-load-misses with -g is accurate? Do you know what level of PEBS (precise) it's using? (should show in -v -v -v).

[2018-05-03 20:14] drandynisbet commented on #48
Good point, I hadn't thought about skid  ...  I'm actually more interested in LLC behaviour in order to look at GC etc, its down time here (out of hours & I have a glass of wine in front of me), so Ill try this out tomorrow.

Cheers for the reminder on checking the level of PEBS.

[2018-05-03 23:12] arthurchipdean commented on #27
@spiermar I can confirm that this error occurs when using python 2.7. Maybe python 3 should be listed as a requirement in the README.md?
![image](https://user-images.githubusercontent.com/1786637/39606904-b4538bec-4eec-11e8-93ad-9b9c6d51918d.png)

[2018-05-04 01:31] spiermar commented on #27
Should work with 2.7, that's my default environment. Wonder if this is Windows specific.

[2018-05-09 17:38] smarter opened #49 "Make the duration of a column configurable"
Right now, columns are hardcoded to be 1 second long, it'd be nice if this was configurable (I tried changing DEFAULT_ROWS in heatmap.py but that doesn't seem to be enough).

[2018-05-11 22:46] bmahler opened #50 "flame graphs sometimes do not render correctly; uncaught exception"
Sometimes when I select ranges of time the flamegraph comes out broken (no text and not clickable). Looking at my console I see the following exception:

[code]

It appears to happen when I pick bigger time windows. Attached a stack file that you can drop into examples. Selecting the bottom left to top right pixels leads to a broken flame graph. Smaller selections can also trigger the issue.

[mes

[2018-06-05 16:07] ceeaspb commented on #4
@brendangregg sorry combination of holiday and been busy - I wasn't sure at first but yes it looks great with the enhanced palette! And yes I need to work on my blog writing skills :)
The handful of really intense cpu activity pixels was perf itself, which I should probably ask about on perf-users.

[2018-06-06 19:18] Leland-Takamine opened #51 "support for trace event format"
Support for opening a [Chrome trace file](https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU) for example would allow other profiling tools to integrate with FlameScope. Context: We've built our own visualization for [Nanoscope](https://github.com/uber/nanoscope), but it would be nice to have an option to view the data in FlameScope.

[2018-06-14 06:56] PawanWagh commented on #43
Hey guys, thanks for the help. Setting host to "0.0.0.0" fixed the problem.

[2018-06-18 16:49] spiermar commented on #51
@Leland-Takamine can you open a new issue for Nanoscope and provide a trace sample?

[2018-06-18 18:44] spiermar commented on #50
Apparently this is being caused by empty frame name strings strings. The flame graph plugin should handle this, so I'll submit a fix for it, but it also might be a trace file parsing issue generating the empty frame names.

[2018-06-18 20:29] spiermar commented on #50
d3-plugin is patched and the flame graphs are not broken anymore, but the lack of a name is due to a parsing issue. It isn't parsing `->`. This should be fixed shortly too.

[2018-06-22 20:46] spiermar commented on #50
b67c750ce7fe4fca6c0a67326a889516dec36475 closes the issue.

[2018-06-23 18:00] #50 closed

[2018-06-25 03:51] brendangregg commented on #50
I hopefully fixed this with b67c750ce7fe4fca6c0a67326a889516dec36475. Please reopen if it is still an issue.

[2018-06-28 22:23] Leland-Takamine commented on #51
@spiermar The idea would be that Nanoscope would generate a chrome trace file output to interop with this tool.

[2018-06-28 23:11] spiermar commented on #51
@Leland-Takamine Even better. It's in the backlog. If we don't get any volunteers for this, I'll pick it up once I get a bit of time.

[2018-07-03 22:13] bmahler commented on #50
Looks good on all of my examples, thank you very much for fixing this!

[2018-07-11 21:18] dderusha commented on #27
@spiermar the screen shot from above shows your using python 3 using a different version of pip than the user that is having a issue.  @arthurchipdean @ionakathryn python 2.7 will work, but pip needs to be upgraded to version 10.0.1.

[2018-08-13 00:21] iori-yja opened #54 "event annotation on the heatmap visualization"
We are considering to add an annotation feature on the heatmap to represent simultaneous events on the heatmap so that users can visually grasp relation between "hot-spot" on the heatmap and co-occurring events or can seek to an event on the heatmap.
I'd like to discuss with you about this feature before we start to implement, because this feature may require several decision to contribute to the

[2018-08-15 18:10] McFlurriez opened #55 "eBPF support"
Hey there,

I love this project, and after seeing the benefits of eBPF versus perf from this blog:

http://www.brendangregg.com/blog/2016-01-20/ebpf-offcpu-flame-graph.html

I wanted to get eBPF working with flamescope too. I took a look and if I'm not mistaken, the format between perf and eBPF are quite different. Is there any way to use eBPF here?

Thanks,
Anthony

[2018-09-21 02:16] spiermar opened #57 "support for differential flame graphs"

[2018-09-25 06:43] iori-yja opened #58 "How should cache / preprocess heatmap response data look like?"
Every time people access the flamescope's heatmap, the server processes the perf output data which makes the user awaited. So I am considering to cache preprocessed or first-returned data.

Structure of the response is quite simple;
[code]

The most quick hack to cache it is storing in sessionStorage in local browser. Better idea is to save the data as a metadata beside actual data (In that case,

[2018-09-28 21:14] spiermar commented on #55
@brendangregg the output of the current `bcc` tool is folded, correct? If that's the case, we can't really use it here because of the time dimension. `bpftrace`?

[2018-09-28 21:27] spiermar commented on #58
When you mention cache, is that from going back and forth between the heatmap and flame graph visualization, or changing profiles?

[2018-09-28 21:33] spiermar commented on #58
Preprocess in the other hand is a different problem. I definitely wouldn't do it in the browser session storage, given the size limits, but might be Ok to have a task to preprocess all heatmaps and store them on disk.

[2018-10-04 22:13] iori-yja commented on #58
I agree with you on both points of avoiding using databases and browser storages for each reason. I will move on to this in a few weeks. Is it OK to be default behavior to store preprocessed data next to the profile?

[2018-10-15 01:45] spiermar opened #60 "deep links"
See https://github.com/Netflix/flamescope/pull/53

[2018-11-03 03:21] ejholmes opened #61 "Compatibility with stackprof (ruby)?"
My attempts at using flamescope with stack profiles obtained through [stackprof](https://github.com/tmm1/stackprof) have failed.

Initially, I had assumed the general steps for [`flamegraph.pl`](https://github.com/brendangregg/FlameGraph) would work, but flamescope chokes on the collapsed stack file.

Is there any plans to support stack profiles from stackprof, or document how one would do this?

[2018-11-22 09:15] Liron24 commented on #5
Hi, I'm getting the same stacktrace and I'm running Java application, any ideas about it?

[2018-11-22 09:30] Liron24 commented on #9
@ceeaspb can you please elaborate on :

I have the same issue.

[2018-11-28 17:48] spiermar commented on #5
Ok, so the previous issue was that the trace was generated from trying to open a non-perf profile. Can you share profile with us to reproduce?

[2018-11-29 23:34] Liron24 commented on #5
@spiermar it's our production application, is there any other information I can provide you to understand what's going on? Or any other instructions for me to try and troubleshoot this?

[2018-11-30 05:10] spiermar commented on #5
@Liron24 if it's that exact error

[code]

Likely the error is caused by a failure to parse a start and/or end timestamps of the profile:

https://github.com/Netflix/flamescope/blob/master/app/util/heatmap.py#L84

If you compare your profile with the examples in the repo, do they look similar? Same format?

[2018-12-02 18:09] Liron24 commented on #5
@spiermar my generated perf.data is a binary and I can't really read it while the other examples I can clearly open and read. Is there any other command to generate a profile to be similar to the examples?

[2018-12-02 18:19] spiermar commented on #5
Ok, so looks like you're trying to open the raw `perf record` data, not the output of `perf script`, which it's text format.

[2018-12-03 13:52] Liron24 commented on #5
@spiermar you were right. I managed to view an heat map of the stacks output, however, all the classes shows as "unknown", could it stems from the errors I got when creating the stacks?
`Failed to open <> , continuing without symbols`

[2018-12-03 17:48] spiermar commented on #5
Yes, unknowns are missing symbols.

[2018-12-08 19:52] bahtiyarkaba commented on #8
The flame-graph can be configured with an[ inverted flag. ]( https://github.com/spiermar/d3-flame-graph#inverted )
I have something done with it. I'll submit a PR.
Please assign the issue to me if that sounds ok.

[2018-12-08 20:20] spiermar commented on #8
@bahtiyarkaba I can't assign the issue to you because the rights on the GitHub project, but feel free to submit a PR and I'll review it

[2018-12-18 01:31] #8 closed

[2018-12-23 10:13] SergejIsbrecht opened #65 "master currently not running"
Hi there,

currently when fetching the origin/master HEAD and trying to use python run.py on ubuntu it will not run due to some import issues:

sergej@L530:~/GitHub/flamescope$ python run.py
Traceback (most recent call last):
  File "run.py", line 6, in <module>
    from app import APP
  File "/home/sergej/GitHub/flamescope/app/__init__.py", line 34, in <module>
    from app.views.flame_graph impo

[2018-12-23 10:48] SergejIsbrecht commented on #65
Issue has been resolved using pip3 and python3 under ubuntu instead od python (which is 2.7).

pip3 install -r ...
python3 run.py

[2018-12-23 10:48] #65 closed

[2018-12-26 08:01] bahtiyarkaba commented on #41
There has not been any activity here for some time, I could look into this and see what I can do if no one's up to it.

I agree doing in it in heatmap plugin and integrating here. I'll go over the heatmap repo.

[2018-12-28 11:17] nobeh opened #66 "master `Dockerfile` is broken"
Recent refactorings specifically b496f7787c52550fc3dc072ba538bcdc86f5e8d7 seems to have bumped the required Python from 2.7 to 3.6. In addition, `libmagic` is assumed to be installed for Python binding. These are not yet updated in `Dockerfile`; the following patch seems to fix the problem until a fix is merged:

[code]

**Side Note** It would be great if there would be tags on the repo so that co

[2019-01-13 03:52] rahulsh1 commented on #66
There is a typo in your PR.
`  cd /app && \ \` should be

`  cd /app && \ `

Otherwise it throws the misleading `/bin/sh:  : not found`
Thanks for providing a working version :+1:

[2019-01-18 01:25] #61 closed, assigned to nobody

[2019-01-21 17:12] spiermar commented on #66
Yepp, forgot to add that recently. Will add shortly.

[2019-01-21 17:14] #66 closed

[2019-01-28 16:00] asiderop opened #69 "multiple profiler support"
As has been mentioned elsewhere, a generic data file format would allow for converters to be written to support formats other than `perf`. Has there been any work towards this yet?

Another approach seems to be what it being implemented in the source with "native" support of various profilers, with [each format having its own parsing routine](https://github.com/Netflix/flamescope/blob/2ff2b1d50407

[2019-01-28 23:54] spiermar commented on #69
Yes, working on that problem now actually, since I'm adding support for a few new formats. Nothing formalized yet, but the heatmap seems pretty straight forward, a list of offsets. The flame graph I'm still thinking about the level of abstraction, due to the range filter, but should be similar to the current `nflxprofile` parser. I already have a `perf -> nflxprofile` converter, that might replace

[2019-01-28 23:55] spiermar commented on #55
Closing due to inactivity.

[2019-01-28 23:55] #55 closed

[2019-02-16 00:44] spiermar commented on #41
@bahtiyarkaba missed the comment here. Sure, feel free to submit PRs to the heatmap plugin repo and I'll merge it there and make the changes here.

[2019-02-26 09:05] nmiculinic opened #72 "Support filtering"
I'd really like filtering out some stacks in the GUI.. (probably it's possible in the perf cli somehow though I'm kinda newish to perf ).

Example usage:

Did whole system perf record, found out process `node_exporter` does it's periodic work for 30s. Ok, I'm interested what the rest of the system is doing, so I could filter out matching regex (( e.g. if this stack or its parent stack match the re

[2019-02-27 19:03] spiermar commented on #51
Done

[2019-02-27 19:03] #51 closed

[2019-02-27 19:12] spiermar commented on #18
Done.

[2019-02-27 19:12] #18 closed

[2019-02-27 23:19] #60 closed

[2019-02-27 23:29] spiermar commented on #69
@asiderop For the first approach, we will start recommending the nflxprofile format. Distributing the .proto definition for use in different languages.
For the second approach, I have a clear idea for the native interface. Just need to slightly refactor the code to be more pluggable and write the documentation.
Native support for new formats will be dealt with in PRs. PRs should include the conver

[2019-02-27 23:35] spiermar commented on #23
New profile formats should resolve this issue. See https://github.com/Netflix/flamescope/issues/69 for details. Closing to centralize discussion.

[2019-02-27 23:35] #23 closed

[2019-03-05 04:34] vdmz opened #73 "Various issues making it work"
Hi

To get this nice tool working I had to make a few tweaks (after setting up a virtualenv)
[code]
First issue -
[code]
and similarly for trace_event.flame_graph. I was able to fix this with:
[code]

Second issue - the version of the 'json' module did not have the JSONDecodeError method.
[code]
Perhaps you should specify the one you want in requirements.txt or just use simplejson as below.
For me

[2019-03-15 07:56] krunal10 opened #74 "Init files are missing in some of the packages resulting into import errors"
Init files missing in following folders:

- flamescope/app/cpuprofile/
- flamescope/app/trace_event/

[2019-03-20 18:37] spiermar commented on #74
Duplicate of #73. Submitting a fix shortly.

[2019-03-20 18:37] #74 closed

[2019-03-20 18:41] spiermar commented on #73
1 is fixed. 2, assuming you are using Python 2.

[2019-03-20 18:47] spiermar commented on #73
https://github.com/Netflix/flamescope/commit/6039df6e50ca7146104919708dcf989356418861 should fix the second issue, although I expect you will find more issues using Python 2.

[2019-03-22 06:05] vdmz commented on #73
Thank you for that, I was indeed using python2.

I redid the set up using python3
[code]

so all done here I think.

[2019-03-22 06:05] #73 closed

[2019-04-07 19:01] avisrivastava254084 commented on #57
@spiermar , can you explain this issue a bit? Or could you redirect me to sources reading which would make me understand?

I want to contribute.

[2019-04-08 16:13] spiermar commented on #57
@avisrivastava254084 already solved in the [feat_differential_flame_graphs](https://github.com/Netflix/flamescope/tree/feat_differential_flame_graphs) branch. Just need to run a few tests before merging into master. In a nutshell, the new feature adds support for comparing flame graphs through differential flame graphs. If are looking to start contributing, two issues we are actively looking right

[2019-04-08 18:35] avisrivastava254084 commented on #69
@spiermar , if I get this right, we are thinking of having different formats being converted to one standardized and then applying our parsing, right? This would be the first method that @asiderop mentioned in the first comment.

[2019-04-08 21:43] spiermar commented on #69
There are 2 parts to this problem. The first, creating a generic format that can be used and create some examples and documentation. This is partially done, with the `nflxprofile` format. Examples and documentation is still missing. The second part is refactoring the code to be more pluggable, to either accept external plugins or easier to extend via PRs. I see an external plugin interface as an e

[2019-04-25 11:25] mhariri opened #76 "Support dropping a recorded profile file or URL"
It would be great to be able to just drop a performance profile file/URL into the UI to analyze it.

[2019-04-26 23:38] prateekr opened #77 "flamescope failing to render flamegraph"
GIT TAG=91bc199
OS: Mac
Browser: Chrome

The heatmap page works, but on the flamegraph page, the flamegraph itself fails to load.  I see the following error in the javascript console:

[code]
The flamegraph does load on git tag df6700421082890e66cfd8caedf4ebe678ab1068

The examples provided on the current commit, 91bc199, fail with the same error.

[2019-04-28 11:56] mboussaa commented on #57
@spiermar I hit the following error from the feat_differential_flame_graphs branch when running python run.py. Any idea why? Thanks
[code]

[2019-04-28 18:55] spiermar commented on #57
No need to use the branch anymore. It was already merged into master. And the issue was caused by the python version you are using.

[2019-04-28 18:55] #57 closed

[2019-05-05 07:19] wuyihao14 commented on #77
Is there any progress on this issue? thx

[2019-05-05 17:25] spiermar commented on #77
Not yet. On my backlog.

[2019-05-06 06:33] wuyihao14 opened #78 "Support filtering by CPU or task"
Will you add support for filtering by CPU or task ?

[2019-05-07 01:58] wuyihao14 commented on #77
#79

[2019-05-07 16:25] #77 closed

[2019-05-07 16:27] spiermar commented on #78
Similar to #30 . Plan is to add support for CPU, process, and thread id.

[2019-05-07 17:36] #78 closed

[2019-05-13 14:51] gmarler commented on #69
@spiermar, thanks for referencing my request as something this issue could cover.  Per your last update above, I'd like to help with any of the listed 3 efforts.

Of course, to add DTrace to the mix, it would be good to know what to produce in the DTrace stack profile output, to have a concrete example to work with as for the documentation and converter work/PR.

I'm going to start by doing perf t

[2019-05-13 17:27] spiermar commented on #69
@gmarler I already have a script to convert perf outputs to `nflxprofile`. See https://gist.github.com/spiermar/195286aa29d2ebbe6ecde27c1fd7e8b7.

The function takes a line iterator (`iter_lines`)

[2019-05-13 17:31] spiermar commented on #69
I can probably take care of `1` pretty quickly, with the perf example. `2` is required for `3`, so probably need to start there. If you're keen on helping, I would suggest having a look into the `view > controller > parser` interaction to see how it could be improved, for both heatmap and flame graph endpoints.

[2019-05-14 16:09] gmarler commented on #69
Thanks for the pointer to the gist.  Now I have to determine how to best produce `DTrace` output to make the first pass at a converter easier to write.

A couple of things I'm mulling over at the moment when trying to produce similar output in `DTrace` to that of `perf`:

1. An event in `perf` has the command (just `execname` in `DTrace`), and what looks like a microsecond timestamp in units of fr

[2019-05-14 16:13] spiermar commented on #69
[This](https://github.com/brendangregg/FlameGraph/blob/master/stackcollapse.pl) might help.

[2019-05-15 12:32] gmarler commented on #69
Yes, that's what I started with ;>.

Making progress on the first pass of DTrace convert, but need to clarify a couple of more things:

1. I just noticed that `perf` stacks don't have counts like DTrace does - or at least doesn't have them just after the stack.  I presume this means that every stack event has an implicit count of 1?  Is that what you're calling "hit_count" in a Node?
1. If that's

[2019-05-15 16:49] spiermar commented on #69
1) Yes, that's the main problem, you will need a different DTrace script. Counts only don't work for FlameScope because I need the timestamps to create the heatmap, or at least counts every 20ms window if using 50 rows. Full aggregation of stacks is not enough to create the heatmap.
2) Yes, that's what I'm doing. I have all the samples, and counting them, but just for the flame graph. For the heat

[2019-05-15 19:01] gmarler commented on #69
Excellent - now this is starting to make more sense.

For DTrace I'm capturing a microsecond level timestamp (nanosecond timestamp divided by 1000) for each stack as well as counting the number of occurrences, so it should be easy to also divide up the stacks into time windows for the heatmap.

I'm getting more familiar with the code, and will be able to to check what I've learned against anything

[2019-05-15 20:18] spiermar commented on #69
@gmarler fields in the nflxprofile format?

[2019-05-16 12:32] gmarler commented on #69
Yes, what I presume you meant by:

1. Documentation and converter examples for nflxprofile format

Specifically, the purpose/usage of each field in the types defined/listed in `app/nflxprofile_pb2.py`:

- Profile
- Profile.Node
- Profile.NodesEntry
- Profile.ParamsEntry

Many are self evident from previous FlameGraph implementations, but not all.

[2019-05-16 16:06] spiermar commented on #69
Yes, plus documentation and examples for converters and code hooks.

[2019-05-18 23:11] prateekr commented on #77
It still fails on chrome on mac.  It does succeed on safari tho.

[2019-06-10 03:20] chkch opened #81 "Is it possible to add a new record player or delete function on the web?"
Is it possible to add a new record player or delete function on the web?
I can consider making a more functional platform, I think this will be a good idea.

[2019-06-10 06:12] chkch opened #82 "How do you use these two functions? (Open as Netflix Profile/Open as Chrome CPU Profile)"

[2019-07-31 19:09] bobrik opened #83 "Idle regexp eats up softirq frames"
We borrowed [`idle_regexp`](https://github.com/Netflix/flamescope/blob/74f75537558f165ea67eb8ced700e9f2d707fd6e/app/util/regexp.py#L79-L82) for our internal system and it looks like the regexp hides some legitimate stacks in softirq context.

Current filter produces the following flamegraph:

![image](https://user-images.githubusercontent.com/89186/62240327-926db480-b38b-11e9-9ace-4e59fde26db4.png

[2019-08-06 18:33] spiermar commented on #83
@brendangregg ^^

[2020-01-06 23:35] mmarchini opened #103 "Use npm or yarn (not both)"
Mixing package managers is not recommended. Right now we have `package-lock.json` and `yarn.lock` on the project. We should keep only one and remove the other to avoid confusion and misuse.

Based on the README.md we should keep `yarn.lock` and remove `package-lock.json` (since that's what we recommend using).

[2020-02-13 04:21] ramonf-garcia opened #104 "add an upload endpoint"
Thanks for this great project.
It would come handy having an upload endpoint, I forked the project and [added one](https://github.com/Netflix/flamescope/compare/master...ramonf-garcia:master) based on the [base flask example](https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/) but my react skills are close to none so I don't find it worth of a pull request, so, what about including o

[2020-02-21 03:15] mmarchini commented on #104
An upload endpoint is probably a good idea. I would rather have it as upload -> process -> return flamegraph instead of saving the file to disk. Not sure what others think.

[2020-02-22 01:42] ramonf-garcia commented on #104
Would that mean adding the option to process whatever you send through that endpoint or changing the way the application works currently? I went for the upload and save locally because that meant upload, save and don't worry on keeping track on what's been uploaded because it is in the "examples" directory and that is already listed, so redirect to `/#` will have it listed when the page loads. It

[2020-04-17 17:42] ramonf-garcia opened #108 "more caching in parsed events"
Large files require reprocessing once served, adding a way to cache the **heatmap** module is a big time saver, e.g. `trace_event/heatmap` can store the genreated `namedtuple` into a JSON so when called again the existing JSON is just loaded; tried this with a 10GB file, response went down from 2 minutes to 10 seconds. This plus a larger `response.cache_control.max_age` when responding can reduce

[2020-07-13 19:22] anthonyalayo opened #111 "Adding eBPF profiler support"
Hi there,

I was reading the PR here: https://github.com/Netflix/flamescope/issues/69

And i was wondering what is the process for "adding multiple profilers"?

If I knew some place to start, I could give adding eBPF a shot.

Thanks in advance,
Anthony

[2020-10-21 05:35] xzhang85 opened #116 "Python 3.8 doesn't work with Werkzeug 0.15.3 in current requirements.txt"
Run this tool with Python 3.8.6 from Debian testing this error shows:

[code]

[This link](https://github.com/pallets/werkzeug/issues/1551) seems to be the issue report in werkzeug repo. Updating to 0.15.5 it works fine. It seems the dependency has always updated by bot, please maintainers take a look and update werkzeug? Thanks.

[2021-01-05 09:52] fengweiyuan opened #119 "Can I ask where is the pip package?"
Can I ask where is the pip package?

[2021-01-06 09:12] fengweiyuan opened #120 "ImportError: cannot import name 'Feature' from 'setuptools'"
ERROR: Command errored out with exit status 1:
     command: /Users/fwy/env/ksdb/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/p3/88pf4865713bvhx1g0qq07980000gn/T/pip-install-n_c6hrko/markupsafe_f7a88688051645a9b3bb18103afea1ba/setup.py'"'"'; __file__='"'"'/private/var/folders/p3/88pf4865713bvhx1g0qq07980000gn/T/pip-install-n_c6hrko/markupsafe_f7a88688051

[2021-01-27 12:35] lava commented on #116
I can confirm that the issue still exists on latest master on Ubuntu Focal, and the same fix also worked for me.

[2021-02-11 08:25] priithaamer commented on #120
Temporary workaround was to install

[code]

[2021-03-23 11:55] asheplyakov opened #124 "perf flamegraphs: no tooltips"
flamescope used to show nice tooltips when hovering a stack frame.
However now (commit 8eee5949c138c868895fa4db7982375f28b17cdf) there are no tooltips.
Instead there are lots of error messages in the browser console:
[code]

[2021-03-23 12:00] asheplyakov commented on #124
Reverting commit 8eee5949c138c868895fa4db7982375f28b17cdf restores tooltips

[2021-03-23 13:19] asheplyakov commented on #124
A more useful stack trace:
[code]

[2021-03-23 13:23] asheplyakov commented on #124
Reproducer:

[code]

And inspect those stacks with flamescope

[2021-05-04 20:51] dougch commented on #120
bumping MarkupSafe to version `1.1` in requirements.txt also works, PR?

[2021-06-10 18:20] pashminacameron commented on #120
Same here, `MarkupSafe=1.1` works.
I also needed to `pip install python-magic-bin==0.4.14` for a successful server start (got a `ImportError: failed to find libmagic.  Check your installation` upon using `python run.py`).

Working `environment.yml`:
[code]

[2021-09-21 23:37] Minusome opened #141 "Heatmap offsets memory cache not being populated"
In flamescope/app/controllers/heatmap.py:

[code]

`offsets_cache` and `offsets_mtimes` are checked but never written to.

[2021-10-05 12:17] #141 closed

[2021-10-06 08:06] andreamerello opened #143 "Missing samples in what flamescope displays"
I'm producing `perf` traces on a quad-core ARM64 system, and I'm looking at them with flamescope. I've noticed it produces what it apparently seems an incorrect (incomplete) flamegraph to me.

By looking at the same data with
- legacy flamegraph tool
- `less` on out.perf
- `perf report`

I can see that some time is spent to serve my DMA IRQ tasklet (e.g. `xilinx_dma_do_tasklet()` function), but th

[2021-10-14 17:10] spiermar opened #148 "missing button icons"

[2021-10-14 17:11] spiermar opened #149 "sluggish interaction with d3 plugins"

[2021-10-14 17:13] spiermar commented on #120
Fixed on https://github.com/Netflix/flamescope/commit/44506f957528db4d107a64c889f9f335e97a9e43.

[2021-10-14 17:13] #120 closed

[2021-10-14 17:31] spiermar commented on #82
These are different profile formats. FlameScope tries to identify which format the profiles are, but in some cases, that doesn't work, so the UI provides an option for the user to manually choose the profile format before trying to open it.

[2021-10-14 18:47] #124 closed

[2021-11-17 16:34] wndrws opened #150 "No pre-built client bundle in the master branch"
In the README.md it is stated that "A pre-built client bundle is distributed with the backend" but there is none: https://github.com/Netflix/flamescope/tree/master/app/public folder contains only favicon. I see that in the artifacts that are available for tag v0.2.0 (https://github.com/Netflix/flamescope/releases/tag/v0.2.0) the same folder contains an actual client but that version is quite old.

[2021-12-19 19:14] spiermar commented on #150
Thanks for the report @wndrws. I'll have a look.

[2022-03-03 23:15] mhansen opened #155 "Add y-axis label markers to help people understand the visualisation"
I'm trying to popularise these visualisations for mobile development, but common feedback I get is that people aren't sure what they're looking at.

I think adding axis labels would help.

Just something like `+100ms`, `+200ms`, would help I think to make it clear that the cells represent subsecond slices.

![image (9)](https://user-images.githubusercontent.com/105529/156668720-9b0e40c0-6ed4-460a-

[2022-03-03 23:20] mhansen commented on #155
As extra benefit, it'd remind me which way time goes. I can't remember if time goes up or down in these graphs. I might have got the above the wrong way around!

[2022-04-20 02:44] TimZaman commented on #150
Confirm still an issue. If i check out the older v0.2.0 it does work. Is this project still maintained?

[2022-04-21 23:55] jasonk000 commented on #150
@spiermar , I've set up a basic workflow to your spec, but I'm not sure it's entirely what's needed. (Have slacked you more info). I think we should revise the workflow to run when tags are pushed. From there on, once it's working, we need to set up new tags for v0.3.x -- then I think files will be published correctly.

[2022-05-26 05:02] 97dawn opened #161 "HTTP ERROR 404"
I'm running the FlameScope webserver by executing `python3 run.py`.
But whenever I try to access to http://127.0.0.1:5000/, I keep getting "error": "Sorry, Nothing at this URL.".
How can I solve this problem?

[2022-05-26 05:20] 97dawn commented on #161
created index.html by following https://github.com/Netflix/flamescope#building-client-from-source

[2022-05-26 05:44] #161 closed, assigned to nobody